# Ignore Python bytecode
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment
env/
venv/
Lib/
Scripts/
bin/
Include/


# Ignore Django secret files
.sqlite3
db.sqlite3
.log
.env
pyven.cfg

# Ignore local settings
.local_settings.py

# Ignore compiled files
.so

# Ignore IDE and editor files
.idea/
.vscode/

# Ignore static files and uploads (optional if generated dynamically)
staticfiles/
media/


