# Ignore Python bytecode
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment
env/
venv/
Lib/
Scripts/
bin/
Include/


# Ignore Django secret files
*.sqlite3
db.sqlite3
*.log

# Ignore local settings
*.local_settings.py

# Ignore compiled files
*.so

# Ignore IDE and editor files
.idea/
.vscode/

# Ignore static files and uploads (optional if generated dynamically)
staticfiles/
media/

SECRET_KEY = 'django-insecure-!#qlb+f0)&(j%$%ab0#b+k7acx)yhx)nkq3uebn6((f=&h9wq6'

